
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
:root{
  --ligthGray: #E3DFDE;
  --purple: #67b150;
  --ligthPurple: #1ec8d85d;
}

body{
    background-color: var(--ligthGray);
    padding: 25px;
    min-width: 600px;
}

.encabezado{
    background-color: var(--purple);
    display: flex;
    align-items: center;
    padding: 15px;
    gap: 10px;
    border-radius: 15px 15px 0 0;
}

.encabezado figure img {
    width: 50px;
}
.encabezado h2 {
    color: white;
    text-transform: uppercase;
}
.main-container{
   display: flex; 
   justify-content: center;
   padding: 20px;
   gap: 40px;
   background-color: var(--ligthPurple);
}
.charizard-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}
.title{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 5px;
    border-radius: 15px;
}
.title figure img {
    width: 50px;
    height: 50px;
}
.img-charizard{
    width: 100%;
}
.img-charizard img{
    width: 100%;
    object-fit: cover;
}
.info-pokemon{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 25px;
    border-radius: 15px;
    width: 40%;
    gap: 20px;
}
.row-info{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-info{
    font-size: 20px;
}
.info-text{
    font-size: 24px;
    font-weight: bolder;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: white;
    border-radius: 0 0 15px 15px;
}
.footer-content figure img {
    width: 100px;
    height: 100px;
    object-fit: contain;
}
.footer-content figure{
    padding: 15px;
    background-color: var(--ligthPurple);
    border-radius: 20px;
    margin: 20px;
}
.footer-content figure:hover{
    cursor: pointer;
    background-color: var(--purple);
}
.footer-content div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
    width: 65%;
}
